# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.pdb
/DirectX11CodeSamplesSolution/x64/Debug
/DirectX11CodeSamplesSolution/ipch/DXUT_2015_WIN10-23c019d0
/DirectX11CodeSamplesSolution/DirectXOne/DirectXOne/x64/Debug
*.idb
/DirectX11CodeSamplesSolution/DirectXTwo/DirectXTwo/x64/Debug
/DirectX11CodeSamplesSolution/DirectXThree/DirectXThree/x64/Debug
*.sdf
/DirectX11CodeSamplesSolution/DirectXFour/DirectXFour/x64/Debug
/DirectX11CodeSamplesSolution/DirectXFive/DirectXFive/x64/Debug
/DirectX11CodeSamplesSolution/DirectXSix/DirectXSix/x64/Debug
/DirectX11CodeSamplesSolution/DirectXEight/DirectXEight/x64/Debug
/DirectX11CodeSamplesSolution/DirectxNine/DirectxNine/x64/Debug
/DirectX11CodeSamplesSolution/DirectXSeven/DirectXSeven/x64/Debug
/DirectX11CodeSamplesSolution/DirectXTen/DirectXTen/x64/Debug
/DirectX11CodeSamplesSolution/DirectXEleven/DirectXEleven/x64/Debug
/DirectX11CodeSamplesSolution/DirectXTwelve/DirectXTwelve/x64/Debug
/DirectX12CodeSamplesSolution/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPBase/DirectX12UWPBase/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPBase/DirectX12UWPBase/x64/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPCube/DirectX12UWPCube/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPCube/DirectX12UWPCube/x64/Debug
/DirectX12CodeSamplesSolution/x64/Debug
/DirectX12CodeSamplesSolution/ipch/DIRECTX12UWPBASE-27e206f7
/DirectX12CodeSamplesSolution/DirectX12UWPTexture/DirectX12UWPTexture/x64/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPLight/DirectX12UWPLight/ARM/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPLight/DirectX12UWPLight/x64/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPTexture/DirectX12UWPTexture/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPTwoGeometries/DirectX12UWPTwoGeometries/x64/Debug
/DirectX12CodeSamplesSolution/DirectX12UWPTwoPipelineState/DirectX12UWPTwoPipelineState/x64/Debug
