# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.pdb
/DirectX11CodeSamplesSolution/x64/Debug
/DirectX11CodeSamplesSolution/ipch/DXUT_2015_WIN10-23c019d0
/DirectX11CodeSamplesSolution/DirectXOne/DirectXOne/x64/Debug
